@font-face {
    font-family: 'Lexend Deca';
    src: url('/fonts/LexendDeca-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Lexend Deca';
    src: url('/fonts/LexendDeca-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}