.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 20px;
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueBlock {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #104872 23.54%, #11285B 99.09%);
  padding: 20px;
  margin: 0;
}

.advantagesWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: clamp(var(--min-header-font-size), 2vw + 1rem, var(--max-header-font-size));
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}
